:root {
    --blue: #1e90ff;
    --white: #ffffff;
}

/*COLOR VARIABLES WILL BE INCREASED*/
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto-Regular";
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

h1 {
    color: #1982C4;
}

h2 {
    color: #1982C4;
}

.container-md {
    max-width: 1060px;
}

/*centering elements in header tag (easy-way will be modified)*/

/*HR TAG BETWEEN NAVBARS*/
#nav-divider {
    margin: 0px;
    color: black;
}

/*SLIDER SETTINGS*/
/*THIS MARGIN VALUES SHOULD BE STORED AND USED AS VARIABLES FOR ROW-COLUMNS*/
.container-careousel {
    margin-top: 3em;
    margin-bottom: 3em;
}
/*NEW CARDS*/

#sdk-seperator{
    margin-top: 0;
    margin-bottom: 30px;
}
